<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./unit-tests-boostrap.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd">
  <testsuites>
    <testsuite name="profilrejser-post-types">
      <directory>./src</directory>
    </testsuite>
    <testsuite name="profilrejser-theme">
      <directory>./tests/Unit/Theme/</directory>
    </testsuite>
  </testsuites>
  <coverage>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </coverage>
</phpunit>
